.Footer-section {
    background-color: black;
    color: white;
    border-top: 5px solid white;
}

.Footer-header {
    text-align: center;
    padding-top: 15px;
    font-family: 'Tilt Prism', cursive;
    margin-top: -5px;
}

.Footer-links {
    margin-left: 515px;
    margin-top: 10px;
    padding-bottom: 15px;
}

.Linkedin, .Github, .Resume {
    height: 40px;
    margin-left: 15px; 
    cursor: pointer;
}


/* Media Query iPhone 13 Pro */
@media screen 
    and (min-width: 390px) 
    and (max-width: 844px){ 

        .Footer-links {
            display: inline-flex;
            margin-left: 63px;
        }

    }